@font-face {
    font-family: pinakatay;
    src: url(./pinakatay.ttf);
}

body {
    background-image: url(./pictures/kahoy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: pinakatay;
    color: white;
}

h1:hover {
    color: rgb(118, 156, 189);
}

/* p:hover { 
    color: white;
}

.bsm {
    border: 5px solid black;
    height: 200px;
    width: 200px;
    margin: 10px;
}


img {
    width: 100%;
    height: 100%;
} */

.tanan {
    display: inline-flex;
    column-gap: 190px;
}

.americano {
    border: 3px solid white;
    width: 500px;
    height: 650px;
}

.icedcoffee {
    border: 3px solid white;
    width: 500px;
    height: 650px;
}

.cappuccino {
    border: 3px solid white;
    width: 500px;
    height: 650px;
}

img {
    width: 100%;
    height: 100%;
}